[MESSAGES CONTROL]
max-line-length=128
enable=all
disable=
  # https://pylint.pycqa.org/en/latest/technical_reference/features.html
  attribute-defined-outside-init,
  broad-except,
  consider-using-f-string,
  design,
  fixme,
  invalid-name,
  isinstance-second-argument-not-valid-type,
  locally-disabled,
  missing-class-docstring,
  missing-docstring,
  missing-function-docstring,
  no-value-for-parameter,
  redefined-argument-from-local,
  redefined-builtin,
  redefined-outer-name,
  similarities,
  suppressed-message,
  too-many-lines,
  unnecessary-lambda-assignment,
  unsubscriptable-object,
  unused-argument,
  unused-variable,
ignore-paths=
  beanquery/parser/parser.py
