[MESSAGES CONTROL]
enable=all
disable=
  # https://pylint.pycqa.org/en/latest/technical_reference/features.html
  locally-disabled,
  suppressed-message,
  attribute-defined-outside-init,
  broad-except,
  consider-using-f-string,
  design,
  fixme,
  invalid-name,
  missing-class-docstring,
  missing-docstring,
  missing-function-docstring,
  no-self-use,
  no-value-for-parameter,
  redefined-argument-from-local,
  redefined-outer-name,
  similarities,
  too-many-lines,
  unsubscriptable-object,
  unused-variable,
